<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/about.css" />
    <title>О нас</title>
  </head>
  <body>
    <header>
      <div class="header_container margin">
        <a class="logo" href="/"><img
            src="/images/logo.png"
            width="45"
            height="45"
          />ГБУЗ "ООКССМП"</a>
        <div class="header_right_content">
          <div class="header_menu">
            <a href="/">ГЛАВНАЯ</a>
            <a href="/about">О НАШЕЙ ОРГАНИЗАЦИИ</a>
            <a href="/courses">КУРСЫ И ЦЕНЫ</a>
            <a href="/contact">КОНТАКТЫ</a>
          </div>
          <a href="/lk"><img src="/images/user.png" /></a>
        </div>
      </div>
    </header>
    <main>
      <div class="main-container">
        <div class="main-content margin">
          <div class="main-title">
            <h2>О нашей организации</h2>
          <div class="main-info">
            <div class="about-list">
              <div class="about-item">
                <p>Скорая медицинская помощь - это сервис, предоставляющий экстренную медицинскую помощь на месте вызова. Наша команда квалифицированных врачей, медсестер и специалистов обеспечивает быстрое реагирование на срочные медицинские случаи и готова помочь в любой ситуации.</p>
              </div>
              <div class="about-item">
                <p>Мы осуществляем выезд на вызовы по всему городу, районам и областям в кратчайшие сроки, гарантируя быструю и компетентную медицинскую помощь. Наша цель - спасение жизней, предоставление квалифицированной помощи и поддержка пациентов в критических ситуациях.</p>
              </div>
              <div class="about-item">
                <p>Наши специалисты обладают высоким профессионализмом и опытом работы, поэтому вы можете быть уверены в качестве услуг, которые мы предоставляем. Обращаясь к нам, вы получаете профессиональную помощь и заботу, необходимую в случае экстренных ситуаций.</p>
              </div>
              <div class="about-item">
                <p>Доверьтесь нам, и мы обеспечим вам быструю и эффективную медицинскую помощь в любой ситуации. Наша цель - помочь вам вернуться к здоровью и обеспечить безопасность ваших близких.</p>
              </div>
            </div>
          </div>
        </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-info">
          <a href="tel:+7(3532)441378">Телефон приёмной:
            <span>+7(3532)44-13-78</span></a>
          <a href="#"><span>Политика конфиденциальности</span></a>
        </div>
        <div class="footer-info">
          <a href="mailto:orenssmp@mail.ru">Обратная связь:
            <span>orenssmp@mail.ru</span></a>
        </div>
        <div class="footer-menu">
          <a href="/">ГЛАВНАЯ</a>
          <a href="/about">О НАШЕЙ ОРГАНИЗАЦИИ</a>
          <a href="/courses">КУРСЫ И ЦЕНЫ</a>
          <a href="/contact">КОНТАКТЫ</a>
        </div>
      </div>
    </footer>
  </body>
</html>