<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/contact.css" />
    <title>Контакты</title>
  </head>
  <body>
    <header>
      <div class="header_container margin">
        <a class="logo" href="/"><img
            src="/images/logo.png"
            width="45"
            height="45"
          />ГБУЗ "ООКССМП"</a>
        <div class="header_right_content">
          <div class="header_menu">
            <a href="/">ГЛАВНАЯ</a>
            <a href="/about">О НАШЕЙ ОРГАНИЗАЦИИ</a>
            <a href="/courses">КУРСЫ И ЦЕНЫ</a>
            <a href="/contact">КОНТАКТЫ</a>
          </div>
          <a href="/lk"><img src="/images/user.png" /></a>
        </div>
      </div>
    </header>
    <main>
      <div class="main-container">
        <div class="main-content margin">
          <div class="main-title">
            <h2>Контакты</h2>
          <div class="main-info">
            <div class="contact-list">
              <div class="contact-item">
                <p><span class="contact-span">Полное наименование учреждения:</span> Государственное бюджетное учреждение здравоохранения "Оренбургская областная клиническая станция скорой медицинской помощи"</p>
              </div>
              <div class="contact-item">
                <p><span class="contact-span">Краткое наименование учреждения:</span> ГБУЗ "ООКССМП"</p>
              </div>
              <div class="contact-item">
                <p><span class="contact-span">Адрес:</span> 460048, Оренбургская область, г. Оренбург, ул. Монтажников 1а</p>
              </div>
              <div class="contact-item">
                <p><span class="contact-span">Телефон приемной:</span> +7(3532)44-13-78</p>
              </div>
              <div class="contact-item">
                <p><span class="contact-span">E-mail:</span> gob33@mail.orb.ru</p>
              </div>
              <div class="contact-item">
                <p><span class="contact-span">Главный врач:</span> Иванов Валентин Борисович, телефон: 44-13-78, факс: 75-41-11, график личного приема граждан: четверг с 15:00 до 17:00</p>
              </div>
              <div class="contact-item">
                <p><span class="contact-span">Заместитель главного врача по информационным технологиям:</span> Попов Константин Александрович, телефон: 44-13-70</p>
              </div>
            </div>
          </div>
        </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-info">
          <a href="tel:+7(3532)441378">Телефон приёмной:
            <span>+7(3532)44-13-78</span></a>
          <a href="#"><span>Политика конфиденциальности</span></a>
        </div>
        <div class="footer-info">
          <a href="mailto:orenssmp@mail.ru">Обратная связь:
            <span>orenssmp@mail.ru</span></a>
        </div>
        <div class="footer-menu">
            <a href="/">ГЛАВНАЯ</a>
            <a href="/about">О НАШЕЙ ОРГАНИЗАЦИИ</a>
            <a href="/courses">КУРСЫ И ЦЕНЫ</a>
            <a href="/contact">КОНТАКТЫ</a>
        </div>
      </div>
    </footer>
  </body>
</html>