<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
  <link rel="icon" href="/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/index.css">
  <title>Главная</title>
</head>
<body>
  <header>
    <div class="header_container margin">
      <a class="logo" href="/"><img src="/images/logo.png" width="45" height="45">ГБУЗ "ООКССМП"</a>
      <div class="header_right_content">
        <div class="header_menu">
          <a href="/">ГЛАВНАЯ</a>
          <a href="#">О НАШЕЙ ОРГАНИЗАЦИИ</a>
          <a href="/courses">КУРСЫ И ЦЕНЫ</a>
          <a href="#">КОНТАКТЫ</a>
        </div>
        <a href="/lk"><img src="/images/user.png"></a>
      </div>
    </div>
  </header>
  <main>
    <div class="main-container">
      <div class="main-content margin">
        <div class="main-title">
          <h1>Повышение квалификации<br>и дополнительное образование</h1>
          <p class="main-description">для специалистов с высшем и средним образованием скорой мединской помощи</p>
        </div>
        <div class="main-info">
          <div class="g-list">
            <div class="g">
              <img src="/images/галочка.png">
              <p>Согласно Лицензии<br>Министерства здравоохранения</p>
            </div>
            <div class="g">
              <img src="/images/галочка.png">
              <p>Доступный формат<br>онлайн-обучения</p>
            </div>
            <div class="g">
              <img src="/images/галочка.png">
              <p>Для врачей и фельдшеров<br>скорой мединской помощи</p>
            </div>
          </div>
          <div class="main-links">
            <button class="btn-border-blue">Получить подробную информацию</button>
            <a href="/courses"><button class="btn-border-green">Подать заявку на обучение</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="programs-education-container">
      <div class="programs-education-title">
        <h2>Программы обучения</h2>
        <hr style="width: 475px">
        <p>Программы повышения квалификации для врачей<br>и фельдшеров скорой медицинской помощи</p>
      </div>
      <div class="programs">
        <div class="program-item">
          <h3>Врач</h3>
          <div class="list-programs">
            <a href="/courses">Продвинутая сердечно-легочная реанимация (ACLS)</a>
            <a href="/courses">Продвинутая педиатрическая сердечно-легочная реанимация (PALS)</a>
            <a href="/courses">Управление травмой</a>
            <a href="/courses">Управление неотложными состояниями</a>
            <a href="/courses">Медицинская токсикология</a>
          </div>
        </div>
        <div class="program-item">
          <h3>Фельдшер</h3>
          <div class="list-programs">
            <a href="/courses">Парамедицина скорой мединской помощи</a>
            <a href="/courses">Продвинутая сердечно-легочная реанимация (ACLS)</a>
            <a href="/courses">Управление травмой</a>
            <a href="/courses">Детская неотложная помощь</a>
            <a href="/courses">Медицинская токсикология</a>
          </div>
        </div>
      </div>
    </div>
    <div class="advantages">
      <div class="advantages-title">
        <h2>Преимущества участия в программах</h2>
        <hr style="width: 780px">
      </div>
      <div class="advantages-list">
        <div class="advantages-item">
          <img src="/images/знания.png">
          <p>Повышение знаний и навыков</p>
        </div>
        <div class="advantages-item">
          <img src="/images/карьера.png">
          <p>Карьерный рост</p>
        </div>
        <div class="advantages-item">
          <img src="/images/признание.png">
          <p>Признание в отрасли</p>
        </div>
      </div>
      <div>
        <a href="/courses"><button class="btn-border-green">Подать заявку на обучение</button></a>
      </div>
    </div>
    <div class="documents">
      <div class="documents-title">
        <h2>Документы о профессиональной переподготовке</h2>
        <hr style="width: 980px">
      </div>
      <div class="documents-slider">
        <div class="prev-btn">
          <img src="/images/назад.png" alt="Назад">
        </div>
        <div>
          <div class="documents-slide">
            <img src="/images/диплом.png" alt="Фото 1">
          </div>
          <div class="documents-slide">
            <img src="/images/свидетельство.png" alt="Фото 2">
          </div>
          <div class="documents-slide">
            <img src="/images/удостоверение.png" alt="Фото 3">
          </div>
        </div>
        <div class="next-btn">
          <img src="/images/вперед.png" alt="Вперед">
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-container">
      <div class="footer-info">
        <a href="tel:+7(3532)441378">Телефон приёмной: <span>+7(3532)44-13-78</span></a>
        <a href="#"><span>Политика конфиденциальности</span></a>
      </div>
      <div class="footer-info">
        <a href="mailto:orenssmp@mail.ru">Обратная связь: <span>orenssmp@mail.ru</span></a>
      </div>
      <div class="footer-menu">
        <a href="/">ГЛАВНАЯ</a>
        <a href="#">О НАШЕЙ ОРГАНИЗАЦИИ</a>
        <a href="/courses">КУРСЫ И ЦЕНЫ</a>
        <a href="#">КОНТАКТЫ</a>
      </div>
    </div>
  </footer>
  <script src="script.js"></script>
</body>
</html>