.courses-content {
  padding: 100px 0px 150px 0px;
}

.courses-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 90px;
}

.courses-content-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
}

.courses-container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-content-title h2 {
  font-weight: 700;
  color: var(--blue);
}

.courses-content-title hr {
  width: 105%;
  border: 1px solid var(--blue);
}

.courses-search {
  width: 100%;
  max-width: 35%;
}

.courses-look {
  display: flex;
  align-items: center;
  gap: 25px;
}

.courses-look input {
  width: 100%;
}

.courses-look input::placeholder {
  color: #8d8a8a;
}

.courses-look button {
  padding: 0px;
}

.course-card {
  display: flex;
  gap: 30px;
  border: 1px solid var(--green);
  border-radius: 80px;
  background-color: white;
}

.course-card-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0px 50px 50px;
}

.course-card-info h3 {
  font-weight: 700;
  max-width: 80%;
}

.course-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: var(--green);
  font-size: 20px;
  font-family: var(--font-serif);
  font-weight: 500;
}

.course-card-underline {
  display: flex;
}

.underline {
  flex-grow: 1;
  border-bottom: 1px solid var(--green);
}

.course-card-image {
  height: 100%;
}

.course-card-image img {
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.course-form button,
.course-send-button {
  padding: 8px 60px;
}

@media (max-width: 1280px) {
  .courses-content {
    gap: 70px;
    padding: 80px 20px 100px 20px;
  }

  .courses-container-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .courses-content-title hr {
    width: 100%;
  }

  .courses-search {
    max-width: 100%;
  }

  .course-card {
    flex-direction: column;
  }

  .course-card-info {
    padding: 50px 30px 0px 30px;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .course-card-info h3 {
    max-width: 100%;
    font-size: 22px;
  }

  .course-info {
    width: 100%;
    font-size: 18px;
    gap: 15px;
  }

  .course-card-underline {
    justify-content: center;
  }

  .course-form button,
  .course-send-button {
    margin: 20px 30px;
  }

  .course-card-image {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .course-card-image img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
  }
}

@media (max-width: 768px) {
  .courses-content {
    gap: 50px;
    padding: 60px 15px 80px 15px;
  }

  .courses-content-title h3 {
    font-size: 20px;
  }

  .courses-look {
    gap: 15px;
  }

  .courses-look input {
    padding: 10px 20px;
  }

  .course-card-info {
    padding: 50px 30px 0px 30px;
  }

  .course-card-info h3 {
    font-size: 18px;
  }

  .course-info {
    font-size: 16px;
    gap: 10px;
  }

  .course-card-underline {
    width: 100%;
  }

  .course-card-image {
    height: 180px;
  }
}

@media (max-width: 480px) {
  .courses-content {
    gap: 40px;
    padding: 40px 10px 60px 10px;
  }

  .courses-container-title {
    text-align: center;
    align-items: center;
  }

  .courses-content-title h3 {
    font-size: 18px;
  }

  .courses-search {
    padding: 0 10px;
  }

  .courses-look input {
    font-size: 12px;
  }

  .course-card-info {
    padding: 30px 15px 0px 15px;
  }

  .course-card-info h3 {
    font-size: 16px;
  }

  .course-info {
    font-size: 14px;
  }

  .course-form button,
  .course-send-button {
    font-size: 12px;
    padding: 8px 30px;
    margin: 10px;
  }

  .course-card-image {
    height: 150px;
  }

  .course-card-image img {
    height: 150px;
  }
}
