.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    padding: 64px 0px;
}

.footer-info, .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-info {
    gap: 49px;
}

.footer-info a, .footer-menu a {
    font-family: var(--font-sans);
    color: var(--green);
}

.footer-info span {
    font-weight: 700;
}

.footer-info a:hover, .footer-menu a:hover, .list-programs a:hover {
    color: var(--blue);
}

.footer-menu {
    gap: 17px;
}